.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 2vh 10vw;
  align-items: center;
  color: orangered;
  background-color: rgb(255, 210, 125);
  position: sticky;
  box-shadow: 0 2px 4px 0 rgb(255, 111, 0);
}

.NavbarRight {
  display: flex;
  height: 3vh;
  align-items: center;
}

.NavbarName {
  margin-right: 3vw;
  color: black;
}

.LogoutBtn {
  padding: 2px 5px;
  background-color: bisque;
  border: solid rgb(255, 111, 0);
  border-radius: 0.50rem;
  cursor: pointer;
}

.CenterContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3vh;
}

.LoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

}

.UserBox {
  margin: 10vh 8vw;
  border: solid black;
  border-radius: 10px;
}

.UserLink {
  margin-bottom: 1vh;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  
}
.UserLink:hover {
  color: rgb(0, 42, 255);
}
.FormContainer {

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SubmitBtn {
  padding: 2px 5px;
  background-color: bisque;
  border: solid rgb(165, 79, 42);
  border-radius: 0.50rem;
  cursor: pointer;
}

.TextCenter {
  text-align: center;
}

.ErrorMsg {
  color: red;
}

.MessagesWrapper {
  padding: 15px 10px;
  margin-bottom: 4.5rem;
}

.ChatBar {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  padding: 2vh 0vh 2vh 2vw;
  align-items: center;
  color: white;
  background-color: rgb(255, 177, 125);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgb(255, 111, 0);
}

.ChatBar > img {
  margin-left: 1rem;
  width: 3rem;
  border: solid;
  border-radius: 1.8rem;
  background-color: white;
}

.ChatBarName {
  text-transform:uppercase;
  color: black;
}

.ChatContainer {
  display: flex;
}

.chat-bubble {
  border-radius: 0 20px 20px 20px;
  padding: 15px;
  background-color: rgb(255, 210, 125);
  color: #1c2c4c;
  width: max-content;
  max-width: calc(100% - 100px);
  box-shadow: -2px 2px 1px 1px rgb(225, 108, 65);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 0 20px 20px;
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #1c2c4c;
}
.user-message {
  word-break: break-all;
}


/* send message */
.SendMsgBar {
  position: fixed;
  height: 5%;
  width: 100vw;
  bottom: 0px;
  padding: 20px 30px;
  background-color: rgb(255, 177, 125);  
}

.SendMsgBar > input {
  height: 60%;
  width: 80vw;
  top: 0px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
}
.SendMsgBar > input:placeholder {
  color: #ddd;
  
}
.SendMsgBar > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #7cc5d9;
}
.SendMsgBar > button {
  width: 8vw;
  height: 100%;
  border-radius: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  cursor: pointer;
  color: #242443;
  border: 2px solid black;
  background-color: rgb(255, 210, 125);
  font-weight: 600;
}